set realname="Benedikt Zundel"
set from="benedikt.zundel@bzun.de"

set folder     = ~/mail/main
set spool_file = +INBOX
set record     = +Sent
set trash      = +Trash
set postponed  = +Drafts

set sendmail = "/usr/bin/msmtp -a main"

set pgp_default_key = A1920C58E6D5A1EAAF9E0F9056BF329CBE0827F0
set pgp_sign_as = A1920C58E6D5A1EAAF9E0F9056BF329CBE0827F0

set signature = ~/.config/neomutt/main-signature.txt

macro index,pager <F5> \
  "<shell-escape>offlineimap -a $(basename $folder) &<enter>" \
  "Sync main account"

